body {
  width: 240px;
  overflow-x: hidden;
  font-family: sans-serif;
  background: black;

}

h2, div {
    display: inline-block;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.dataname {
    width : 150px;
}

#title {
    vertical-align: middle;
    color: white;
}

#refresh, #refresher {
    color: white;
    vertical-align: middle;
}


img {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

#info {
    background: rgb(250, 150, 40);
    padding: 5px;
    width: 230px;
}
